#hero {
	background-image: linear-gradient(
			to right,
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0)
		),
		url("/plastic_factory.jpg");
	height: 100vh;
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
	-webkit-mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 1) 75%,
		rgba(0, 0, 0, 0) 100%
	);
	mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 1) 75%,
		rgba(0, 0, 0, 0) 100%
	);

	background-color: #fff; /* fallback */
}

@media (max-width: 768px) {
	#hero {
		background-size: cover;
		height: 100vh;
		background-position: right;
	}
}
