#hero {
	background-image: url("../../public/hero-image.png");
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
}

@media (max-width: 768px) {
	#hero {
		background-size: cover;
		height: 100vh;
		background-position: right;
	}
}
